// fonts
$font-title: "Roboto Slab", serif;
$font-main: 'Roboto', sans-serif;


// colors
$color-primary: white;
$color-second: black;
$color-three: #6c933e;
$color-four: #626262;
$color-five:  #4a4a4a;
$color-six:#d9e4cc;
