// fonts
$font-title: "Roboto Slab", serif;
$font-main: 'Roboto', sans-serif;


// colors
$color-white: white;
$color-black: black;
$color-green1: #6c933e;
$color-grey1: #626262;
$color-grey2: #4a4a4a;
$color-green2: #d9e4cc;
