.footer{
    background-color: $color-grey2;
    color: $color-white;
    font-family: $font-main;
    line-height: 30px;
    padding: 35px 15px 15px 15px;
    position: relative;

    @media (min-width:768px) {
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: space-around;
    }


    &__links{
        display: flex;
        flex-direction: column;
        color: $color-white;
        font-size: 16px;
        align-items: center;
        justify-content: center;
        padding: 15px;

        @media (min-width:768px) {
            display: flex;
            flex-direction: column;
            order: 2;
            align-items: self-start;
         }
    }
}


.colorlink{
    color: $color-white;
    text-decoration: none;
}


.buttonfooter{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: none;
}


.heartfooter{
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;

    @media (min-width:768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        order: 1;
        align-items: self-start;
     }
}


.heart{
    color: $color-green1;
}
