.footer{
    background-color: $color-grey2;
    color: $color-white;
    font-family: $font-main;
    line-height: 30px;
    padding: 35px 15px 15px 15px;
    position: relative;

    &__links{
        font-family: $font-main;
        display: flex;
        flex-direction: column;
        color: $color-white;
        font-size: 16px;
        align-items: center;
        justify-content: center;
        padding: 15px;
    }
}

.colorlink{
    color: $color-white;
    text-decoration: none;
}



.buttonfooter{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: none;

    




}



.heartfooter{
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

.heart{
    color: $color-green1;
}
