.whitesection{
    padding: 13px;


    &__title{
        color: $color-three;
        font-family: $font-main;
        font-weight: normal;
        font-size: 14px;
        height: 30px;
        margin-top: 20px;
    }
 
    &__title2{
        color: $color-second;
        font-family: $font-title;
        font-weight: bold;
        font-size: 22px;
        line-height: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    &__content{
        color: $color-five;
        font-family: $font-main; 
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
        margin-top: 10px;
    }

    &__button{
        color: $color-three;
        background-color: $color-primary;
        border: 2px solid $color-three;
        border-radius: 25px;
        font-family: $font-main;
        font-size: 18px;
        width: 160px;
        margin-top: 40px ;
        margin-bottom: 10px ;

        padding: 8px;
    }


}