<footer class="footer">

    <button class="buttonfooter">
        <a href="./index.html"> <img src="/images/ico-arrow.svg"  alt="icoscroll"> 
        </a>
    </button>

    <ul class="footer__link link1">
        <li> <a href="https://adalab.es/">ZAPATILLAS</a></li>
        <li> <a href="https://adalab.es/">ROPA</a></li>
        <li> <a href="https://adalab.es/">NIÑO/A</a></li>
        <li> <a href="https://adalab.es/">DESCATADOS</a></li>
        <li> <a href="https://adalab.es/">TIPS</a></li>
    </ul>

    <ul class="footer__link link2">
        <li> <a href="https://adalab.es/">TWITTER</a></li>
        <li> <a href="https://adalab.es/">INSTAGRAM</a></li>
        <li> <a href="https://adalab.es/">YOUTUBE</a></li>
    </ul>

    <div class="footerheart">
        <p class="footer__copy"></p>
        <p class="footer__run">we <i class="fa-solid fa-heart heart"></i> run
        </p>

    </div>
</footer>