<button class="buttomheader-menu">
   <a href=""> <img src="/images/ico-menu.svg" alt="menu">
   </a>
</button>

<header class="header">
   <div class="header_article">
      <h1 class="header_article_tittle"> COMIENZOS COMPARTIDOS</h1>
      <h3 class="header_article_tittle2">Todo lo que necesitan para volver al cole </h3>
   </div>

   <button class="buttom">
      <a href="./index.html"> <img class="buttom_scroll" src="/images/ico-scroll-down.svg" alt="scroll">
      </a>
   </button>

</header>