<button class="header__buttonmenu">
   <a href=""> <img src="/images/ico-menu.svg" alt="menu">
   </a>
</button>

<header class="header"> 
      <div class="header__article">
      <h1 class="header__article__title1"> COMIENZOS COMPARTIDOS</h1>
      <h2 class="header__article__title2">Todo lo que necesitan para volver al cole con ilusión</h2>
   </div>

   <button class="buttonheader">
      <a href="./index.html#whitesection"> <img class="buttom__scroll" src="/images/ico-scroll-down.svg" alt="scroll">
      </a>
   </button>

</header>