<main class="main" id="main">

    <div class="main__title">

        <h3 class="main__title__1">¡Prepáralos con tus marcas favoritas!</h3>
        <h2 class="main__title__2">VUELTA AL COLE</h2>

    </div>

    <div class="imagesgrid">

        <div class="imagesgrid__content">
            <img class="imagesgrid__content__img" src="/images/girl1.png" alt="girl1">
            <p class="imagesgrid__content__p">Mochilas escolares</p>
        </div>
        <div class="imagesgrid__content">
            <img class="imagesgrid__content__img" src="/images/boy.png" alt="boy">
            <p class="imagesgrid__content__p">Estuches</p>
        </div>
        <div class="imagesgrid__content">
            <img class="imagesgrid__content__img" src="/images/girl2.png" alt="girl2">
            <p class="imagesgrid__content__p">Bolsas de deporte</p>
        </div>

    </div>

    <button class="buttonmain">Empezar ahora</button>

</main>