<main>

    <div>

        <h3>¡Prepáralos con tus marcas favoritas!</h3>
        <h2>VUELTA AL COLE</h2>

    </div>

    <div class="images">

        <div>
            <img src="/images/girl1.png" alt="girl1">
            <p>Mochilas escolares</p>
        </div>
        <div>
            <img src="/images/boy.png" alt="boy">
            <p>Estuches</p>
        </div>
        <div>
            <img src="/images/girl2.png" alt="girl2">
            <p>Bolsas de deporte</p>
        </div>

    </div>

    <button>Empezar ahora</button>

</main>